<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AssignmentGroup" >
        <activity
            android:name=".RegisterAndLogin"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Function1"/>

        <activity
            android:name="com.example.assignmentgroup.encyclopedia.EncyclopediaHomeActivity"
            android:label="@string/popular_articles_header" />
        <activity
            android:name="com.example.assignmentgroup.encyclopedia.ArticleDetailActivity"
            android:label="@string/article_detail_title"
            android:parentActivityName="com.example.assignmentgroup.encyclopedia.EncyclopediaHomeActivity" />
        <activity
            android:name="com.example.assignmentgroup.encyclopedia.ChatActivity"
            android:label="@string/ask_ai_title"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName="com.example.assignmentgroup.encyclopedia.EncyclopediaHomeActivity" />
    </application>

</manifest>
